<div class="block-content">
    <div class="block">
        <div class="row">
            <div class="col-md-9">
                <h1>{{ delivery.version }}</h1>
            </div>
            <div class="col-md-3">
                <div class="pull-right">
                    <div class="btn-group space-right-small">
                        <a class="btn square btn-two" href="#!/delivery/{{ delivery.getPrimaryKey() }}">
                            <i class="fa fa-table"></i>
                        </a>
                        <a class="btn square btn-two" href="#!/delivery/{{ delivery.getPrimaryKey() }}/gantt">
                            <i class="fa fa-bar-chart"></i>
                        </a>
                        <a class="btn square btn-two active"
                           href="#!/delivery/{{ delivery.getPrimaryKey() }}/dependencies">
                            <i class="fa fa-code-fork"></i>
                        </a>
                    </div>
                    <a ng-if="!delivery.locked" href="#!/delivery/{{ delivery.getPrimaryKey() }}/edit"
                       class="btn btn-two rounded"><i class="fa fa-edit"></i></a>
                    <a ng-click="toggle(delivery)" class="btn btn-two rounded" title="{{ delivery.locked ? 'Unlock' : 'Lock' }} the delivery">
                        <i class="fa" ng-class="{ 'fa-unlock': delivery.locked, 'fa-lock': !delivery.locked }"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <project-dependency-graph projects="projects" deliveries="projectDeliveries"></project-dependency-graph>
</div>
