<div class="space-top alert alert-warning" data-ng-show="history.length <= 0">
    <h2>No entries</h2>

    <p>There is no history entry yet.</p>
</div>

<div class="history block clearfix" data-ng-repeat="entry in history|orderBy:'date':true">
    <div class="row">
        <span class="icon" data-ng-switch="entry.action">
            <i class="fa fa-plus" data-ng-switch-when="POST"></i>
            <i class="fa fa-minus" data-ng-switch-when="DELETE"></i>
            <i class="fa fa-edit" data-ng-switch-when="PUT"></i>
        </span>

        <strong>
            {{ entry.username }}
            <span data-ng-if="entry.action == 'POST'"> created </span>
            <span data-ng-if="entry.action == 'PUT'"> edited </span>
            <span data-ng-if="entry.action == 'DELETE'"> deleted </span>

            <span data-ng-if="!type && entry.resource == 'project'"> project </span>
            <span data-ng-if="!type && entry.resource == 'project_delivery'"> project version </span>
            <span data-ng-if="!type && entry.resource == 'delivery'"> release </span>
            <span data-ng-if="!type && entry.resource == 'service'"> service </span>

            <span data-ng-if="!type && entry.resource == 'project'">{{ entry.content.name }}</span>
            <span data-ng-if="!type && entry.resource == 'project_delivery'">{{ entry.content.name }}</span>
            <span data-ng-if="!type && entry.resource == 'delivery'">{{ entry.content.version }}</span>
            <span data-ng-if="!type && entry.resource == 'project_delivery'">{{ entry.project.name }} {{ entry.content.version }}</span>

            on {{ entry.date|date:'yyyy-MM-dd HH:mm:ss' }}

            <small data-ng-click="entry.showContent()"> (show/hide content)</small>
        </strong>
    </div>

    <div data-ng-show="entry.isContentVisible" class="entry">
        <table class="table table-bordered table-striped">
            <tr data-ng-repeat="(key, value) in entry.content" data-ng-if="isProperty(entry.content, key)">
                <th>{{ key }}</th>
                <td data-ng-if="key != 'project' && key != 'delivery'">{{ value }}</td>
                <td data-ng-if="key == 'project'">
                    <table class="table table-bordered table-striped">
                        <tr data-ng-repeat="(pkey, pvalue) in entry.project" data-ng-if="isProperty(entry.project, pkey)">
                            <th>{{ pkey }}</th>
                            <td>{{ pvalue }}</td>
                        </tr>
                    </table>
                </td>
                <td data-ng-if="key == 'delivery'">
                    <table class="table table-bordered table-striped">
                        <tr data-ng-repeat="(dkey, dvalue) in entry.delivery" data-ng-if="isProperty(entry.delivery, dkey)">
                            <th>{{ dkey }}</th>
                            <td>{{ dvalue }}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>

<button data-ng-hide="page + 1 >= nbPages" class="btn btn-one" data-ng-click="more()">Load more...</button>
