<div class="block-content">
    <div ng-if="!delivery.locked" class="pull-right space-left">
        <a href="#/delivery/{{ delivery.getPrimaryKey() }}/edit" class="btn btn-two rounded"><i class="fa fa-edit"></i></a>
    </div>

    <div class="pull-right">
        <a class="btn square btn-two active" href="#/delivery/{{ delivery.getPrimaryKey() }}"><i class="fa fa-table"></i></a>
        <a class="btn square btn-two" href="#/delivery/{{ delivery.getPrimaryKey() }}/gantt"><i class="fa fa-bar-chart"></i></a>
        <a class="btn square btn-two" href="#/delivery/{{ delivery.getPrimaryKey() }}/dependancies"><i class="fa fa-code-fork"></i></a>
    </div>

    <h1>Delivery {{ delivery.version }}</h1>

    <div class="clear"></div>

    <table class="table table-three table-striped space-top" data-ng-table="tableParams" show-filter="true">
        <tr data-ng-repeat="prDelivery in $data">
            <td style="color: {{ prDelivery.color }}"><i class="fa fa-square"></i></td>
            <td data-title="'Project'" sortable="'name'" filter="{ 'name': 'text' }"><a href="#/project/{{ prDelivery.primaryKey }}">{{ prDelivery.name }}</a></td>
            <td data-title="'PO/SM'" sortable="'poSm'" filter="{ 'poSm': 'text' }">{{ prDelivery.poSm }}</td>
            <td data-title="'Version'" sortable="'version'" filter="{ 'version': 'text' }">
                {{ prDelivery.version ? prDelivery.version : 'not specified yet' }}
                <span ng-if="gitlab.enabled && prDelivery.project.extra.gitlab">
                (<a target="_blank" href="{{ gitlab.config.url }}/{{ prDelivery.project.extra.gitlab }}/blob/master/CHANGELOG.md">Changelog</a>)
                </span>
            </td>
            <td data-title="'Started at'" sortable="'startDate'">{{ prDelivery.startDate | date }}</td>
            <td data-title="'Planned for'" sortable="'plannedDate'">{{ prDelivery.plannedDate | date }}</td>
            <td data-title="'Delivered at'" sortable="'endDate'">{{ prDelivery.endDate | date }}</td>
            <td data-title="'Status'" sortable="'status'" filter="{ 'status': 'text' }"><span data-ng-if="prDelivery.status" data-project-delivery-status="prDelivery.status"></span></td>
        </tr>
    </table>
</div>

<resource-history type="delivery" id="delivery._id"></resource-history>
