<div class="pull-right block-content-small space-top-small"></div>
<div class="clear"></div>
<ul class="vertical-tabs right">
    <li>
        <a href="#/status" class="pointer" data-ng-class="{active: $route.current.active == 'status'}">Board</a>
    </li>
    <li>
        <a href="#/delivery" class="pointer" data-ng-class="{active: $route.current.active == 'delivery'}">Releases</a>
    </li>
    <li>
        <a href="#/project" class="pointer" data-ng-class="{active: $route.current.active == 'project'}">Projects</a>
    </li>
    <li>
        <a href="#/service" class="pointer" data-ng-class="{active: $route.current.active == 'service'}">Services</a>
    </li>
</ul>
