<div class="block-content">
    <h1>Services</h1>
    <div class="clear"></div>
    <table class="table table-three space-top table-striped" data-ng-table="tableParams" show-filter="true">
        <tr data-ng-repeat="service in $data">
            <td data-title="'Name'" sortable="'name'" filter="{ 'name': 'text' }">{{ service.name }}</td>
            <td data-title="'Active'" sortable="'enabled'" filter="{ 'enabled': 'boolean' }">{{ service.enabled ? 'Yes' : 'No' }}</td>
            <td>
                <div class="pull-right">
                    <a href="#/service/{{ service.name }}/edit" class="btn btn-two rounded"><i class="fa fa-gear"></i></a>
                </div>
            </td>
        </tr>
    </table>
    
</div>