<div class="block-content">
  <div class="clear"></div>

  <div ng-repeat="delivery in baseDeliveries | orderBy:'version':true">

    <div>
      <h1 style="border: none">{{ delivery.version }} {{ delivery.description }}</h1>
    </div>
  
    <h2>
      <span style="float: right">{{ delivery.progress | number:0 }}%</span>
    </h2>
 
    <div class="progress" style="clear: right" title="{{ delivery.progress }}% Delivered, {{ delivery.progressPlanned }}% Planned, {{ delivery.progressCurrent }}% Work in progress, {{ delivery.progressBlocked }}% Blocked">
      <div class="progress-bar progress-bar-success" style="width: {{ delivery.progress }}%"><span class="sr-only">{{ delivery.progress }}% Delivered</span></div>
      <div class="progress-bar progress-bar-info" style="width: {{ delivery.progressPlanned }}%"><span class="sr-only">{{ delivery.progressPlanned }}% Planned</span></div>
      <div class="progress-bar progress-bar-warning" style="width: {{ delivery.progressCurrent }}%"><span class="sr-only">{{ delivery.progressCurrent }}% Work in progress</span></div>
      <div class="progress-bar progress-bar-danger" style="width: {{ delivery.progressBlocked }}%"><span class="sr-only">{{ delivery.progressBlocked }}% Blocked</span></div>
    </div>
  </div>
</div>
