<div class="block-content">
  <div class="clear"></div>

  <div ng-repeat="delivery in baseDeliveries | orderBy:'version':true" class="delivery-status">
    <h3 class="pull-right">{{ delivery.progress | number:0 }}%</h3>
    <h2><a ng-href="#/delivery/{{ delivery.id }}">{{ delivery.version }} {{ delivery.description }}</a></h2>
 
    <div class="progress clear" title="{{ delivery.progress }}% Delivered, {{ delivery.progressPlanned }}% Planned, {{ delivery.progressCurrent }}% Work in progress, {{ delivery.progressBlocked }}% Blocked">
      <div class="progress-bar progress-bar-success" style="width: {{ delivery.progress }}%"><span data-ng-if="delivery.progress > 0">{{ delivery.progress|number:1 }}% Delivered</span></div>
      <div class="progress-bar progress-bar-info" style="width: {{ delivery.progressPlanned }}%"><span data-ng-if="delivery.progressPlanned > 0">{{ delivery.progressPlanned|number:1 }}% Planned</span></div>
      <div class="progress-bar progress-bar-warning" style="width: {{ delivery.progressCurrent }}%"><span data-ng-if="delivery.progressCurrent > 0">{{ delivery.progressCurrent|number:1 }}% Work in progress</span></div>
      <div class="progress-bar progress-bar-danger" style="width: {{ delivery.progressBlocked }}%"><span data-ng-if="delivery.progressBlocked > 0">{{ delivery.progressBlocked|number:1 }}% Blocked</span></div>
    </div>
  </div>
</div>
