
@import '../../bower_components/fontawesome/less/font-awesome';
@import '../../bower_components/bootstrap/less/bootstrap';
@import '../../bower_components/pmsipilot-ui/less/bootstrap';
@import 'variables';

body {
    .theme-colored(@themeColorOne, @themeColorTwo, @themeColorThree);
}

.custom-scrollbar();

.btn.btn-two {
    color: @themeColorTwo - #555;

    &:hover, &.active {
        background: #769097;
    }
}

.label {
    color: #666666;
}


.gantt-chart {

    position: relative;
    margin-right: 20px;

    .gantt-rows {
        .gantt-row {
            background: #ddd;
            height: 16px;
            position: relative;
            margin-bottom: 10px;

            .gantt-duration {
                position: absolute;
                top: 3px;
                height: 10px;
            }
        }
    }

    .gantt-ranges {
        color: #999;
        margin-top: 8px;
        position: relative;
        height: 40px;
        border-top: 1px dashed #999;

        .gantt-range {
            position: absolute;
            margin-left: -15px;
            top: 15px;
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            writing-mode: lr-tb;
            white-space:nowrap;
            -webkit-transform: rotate(56deg);
            -moz-transform: rotate(56deg);
            -o-transform: rotate(56deg);
            writing-mode: lr-tb;
        }
    }

    .gantt-current-date {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 1px;
        background-color: #ccc;
    }
}

.gantt-legend {
    clear: both;
    width: 80%;
    margin: 20px auto;
    text-align: center;

    .row-legend {
        display: inline-block;
        margin: 0 5px;
    }
}

.node {
    stroke: #fff;
    stroke-width: 1.5px;
}

.link, .marker {
    stroke: #999;
    fill: #999;
    stroke-opacity: .6;
}

// ngtable --------------------------------

.ng-table {
    margin-bottom: 10px;
}

.ng-table.table-three th.sortable.sort-desc, .ng-table th.sortable.sort-asc {
    background-color: @themeColorThree + #111;
    text-shadow: none;
}

.table-three thead .ng-table-filters th {
    background-color: #FFFFFF;
    padding: 8px 0;

    input {
        .border-radius(0);
    }
}

ul.pagination {
    list-style: none;
    .btn-group;
}

ul.pagination li {
    display:  inline-block;
    position: relative;
    margin-right: 1px solid #FFF;
}

ul.pagination > li + li {
    margin-left: -3px;
}

ul.pagination li a {
    .btn;
}

ul.pagination li.disabled a {
    .btn.disabled;
}

// Login form ------------------------
.login-form input[type=submit] {
    .btn;
    .buttonColored(@themeColorThree, @themeColorThree - #151515, white);
}
