export MONGO_URL="mongodb://db:27017/pmsiplan"
export API_PREFIX="api"
export HISTORY="histo"
export NODE_ENV="development"
export PMSIPLAN_ENV="dev"
export LDAP_URL=
export LDAP_SEARCH_BASE=
export LDAP_SEARCH_FILTER=
export LDAP_ADMIN_DN=
export LDAP_ADMIN_PWD=
export LDAP_USERNAME_FIELD=
