<div class="block space-top">

    <div class="gantt-chart">

        <div class="gantt-rows">
            <div data-ng-repeat="row in rows" class="gantt-row" data-ng-style="{'margin-left': row.startPercent, width: row.plannedPercent}"
                data-tooltip-html-unsafe="{{ row.hover }}" data-tooltip-placement="bottom" data-ng-show="row.plannedPercent != '0%'">
                <div class="gantt-duration" data-ng-style="{width: row.endPercent, background: row.color}">

                </div>
            </div>
        </div>

        <div class="gantt-current-date" data-ng-show="currentDatePercent" data-ng-style="{'left': currentDatePercent}"></div>

        <div class="gantt-ranges">
            <div class="gantt-range" data-ng-repeat="range in ranges" data-ng-style="{left: range.percent}">- {{ range.value | moment }}</div>
        </div>
    </div>
    
</div>

<div class="gantt-legend">
    <span data-ng-repeat="row in rows" class="row-legend">
        <span style="color: {{ row.color }}"><i class="fa fa-square"></i></span>
        {{ row.title }}
    </span>
</div>
