<div class="history block clearfix" data-ng-repeat="entry in history|orderBy:'date':true" data-ng-init="showContent = false">
    <div class="row">
        <span class="icon" data-ng-switch="entry.action">
            <i class="fa fa-plus" data-ng-switch-when="POST"></i>
            <i class="fa fa-minus" data-ng-switch-when="DELETE"></i>
            <i class="fa fa-edit" data-ng-switch-when="PUT"></i>
        </span>

        <strong>
            {{ entry.username }}
            <span data-ng-if="entry.action == 'POST'"> created </span>
            <span data-ng-if="entry.action == 'PUT'"> edited </span>
            <span data-ng-if="entry.action == 'DELETE'"> deleted </span>

            <span data-ng-if="!type && entry.resource == 'project'"> project </span>
            <span data-ng-if="!type && entry.resource == 'project_delivery'"> project version </span>
            <span data-ng-if="!type && entry.resource == 'delivery'"> release </span>
            <span data-ng-if="!type && entry.resource == 'service'"> service </span>

            <span data-ng-if="!type && entry.resource == 'project'">{{ entry.content.name }}</span>
            <span data-ng-if="!type && entry.resource == 'project_delivery'">{{ entry.content.name }}</span>
            <span data-ng-if="!type && entry.resource == 'delivery'">{{ entry.content.version }}</span>
            <span data-ng-if="!type && entry.resource == 'project_delivery'">{{ project.name }} {{ entry.content.version }}</span>

            on {{ entry.date|date:'yyyy-MM-dd HH:mm:ss' }}

            <small data-ng-click="showContent = !showContent"> (show/hide content)</small>
        </strong>
    </div>


    <pre data-ng-show="showContent"><code>{{ entry.content }}</code></pre>
</div>
