
<div class="form-group">
    <label class="control-label">Name</label>
    <div class="form-widget">
        <input type="text" data-ng-model="service.config.name" class="form-control" />
    </div>
</div>

<div class="form-group">
    <label class="control-label">Alias</label>
    <div class="form-widget">
        <input type="text" data-ng-model="service.config.alias" class="form-control" />
    </div>
</div>

<div class="form-group">
    <label class="control-label">Token</label>
    <div class="form-widget">
        <input type="text" data-ng-model="service.config.token" class="form-control" required/>
    </div>
</div>

<div class="form-group">
    <label class="control-label">Webhook URL</label>
    <div class="form-widget">
        <input type="text" data-ng-model="service.config.webhook" class="form-control" required/>
    </div>
</div>
